/* Home.module.css */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #000; /* Adjust the color as needed */
  }
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
  
  /* Define the parent class for the pseudo-element */
  .bg::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 30%;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 60px rgba(228, 26, 70, 1); 
    background: rgba(228, 26, 70, 0.6);
    /* -webkit-backdrop-filter: blur; */
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
  }
  
  @keyframes sliderShape {
    0%, 100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
      
    }
    34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
      
    }
    50% {
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
      
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
      
    }
  }



  
  .blob {
    position: absolute;
    content: "";
    top: 10%;
    left:10%;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 40px rgba(238, 237, 240, 0.7);
    background: rgba(121, 203, 21, 0.4);
    border-radius: 50%;
    will-change: transform, opacity;
    animation: blobAnimation 5s linear infinite;
  }
  
  @keyframes blobAnimation {
    0%, 100% {
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
      opacity: 0.4; /* Adjust the opacity as needed */
    }
    34% {
      transform: translate3d(0, 10px, 0) rotateZ(0.01deg);
      opacity: 0.7; /* Adjust the opacity as needed */
    }
    50% {
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
      opacity: 0.4; /* Adjust the opacity as needed */
    }
    67% {
      transform: translate3d(0, -5px, 0) rotateZ(0.01deg);
      opacity: 0.7; /* Adjust the opacity as needed */
    }
  }

  .blob:nth-child(1) {
    /* Style for the first blob */
    top: 20%;
    left: 30%;
    opacity: 0.5; /* Adjust as needed */
  }
  
  .blob:nth-child(2) {
    /* Style for the second blob */
    top: 40%;
    left: 60%;
    opacity: 0.7; /* Adjust as needed */
  }
  
  .blob:nth-child(3) {
    /* Style for the third blob */
    top: 60%;
    left: 20%;
    opacity: 0.6; /* Adjust as needed */
  }


  


  /* .typinganimation { 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 16.5em; 
	width: 21ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
} */
  